:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: var(--slate);
}

h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    color: var(--navy-blue)
}

a {
    color: currentColor;
    text-decoration: underline;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 4%;
}

button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--white);
}

button:hover, button:focus, a:hover, a:focus {
    color: var(--ocean);
    outline: none;
}

ul {
    list-style-type: none;
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    text-decoration: none;
}

.logo-accent {
    color: var(--iris);
}

/* #header */
.nav-link {
    font-weight: 500;
    color: var(--navy-blue);
    text-decoration: none;
}

.contact-link {
    font-weight: 400;
    text-decoration: none;
}

/* #hero */
.hero {
    background: var(--navy-blue);
}

.hero-title {
    color: var(--white)
}

.btn-order {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
}

/* #principles */

.section-title {}

.principles > h2 {
    display: none;
}

.principle-description {
    font-weight: 400;
}

/* #team */
.team-name {
    text-align: center;
}

.team-role {
    text-align: center;
}

/* #footer */
.footer {
    color: var(--cloud);
    background: var(--navy-blue)
}

.logo-footer {
    color: var(--cloud);
}